<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"; initial-scale=1.0; maximum-scale=1.0; />
    <title>Item Generator</title>
    <link href="@Url.Content("~/css/sarah.css")" rel="stylesheet" type="text/css" />
</head>
<body> 
    @*<ul>
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Item/List">Item Generation</a></li>       
    </ul>*@

    <div>
        @RenderBody()
    </div>
</body>
</html>
