@{Layout = "~/Views/Shared/_Layout.cshtml";}

<ul>
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Item/List">Item Generation</a></li>
    <li><a href="/Item/ShowAll">All Items</a></li>
    <li><a href="/Home/SList">List</a></li>
</ul>



<h2>Welcome</h2>

