@{Layout = "~/Views/Shared/_Layout.cshtml";}

@model MVCItemGen.ViewModels.ItemListViewModel

<ul>
    <li><a href="/Home/Index">Home</a></li>
    <li><a href="/Item/List">Item Generation</a></li>
    <li><a href="/Item/ShowAll">All Items</a></li>
    <li><a href="/Home/SList">List</a></li>
</ul>

@using (Html.BeginForm())
{
    <h5>
        <text>Number of items to generate: </text> <br />   @Html.TextBoxFor(x => x.Amount, new { style = "width:100px" })
        <input type="submit" value="Generate" />
    </h5>

    @if (@Model.Failure == true)
    {
        <h4>
            <text><strong>Please enter a valid number</strong></text>
        </h4>
    }

}


