body {
    font-family: Calibri, Verdana;
    font: Calibri, Verdana, sans-serif;
    background-color: #eaeaea;
    color: #191919;
}

h1 {
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}

h2 {
    font-family: Calibri, Verdana;
    font: Calibri, serif;
    font-size: x-large;
    padding-left: 14px;
    color: #191919;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: Calibri, Verdana;
    font-size: medium;
    border-bottom: 2px inset #191919;
    font: Calibri, serif;
    color: #191919;
    padding-left: 8px;
}

h4 {
    color: red;
    font-family: Calibri, Verdana;
    font: Calibri, Verdana, sans-serif;
}

h5 {
    font-family: Calibri, Verdana;
    font-size: medium;
    font: Calibri, serif;
    color: #191919;
    /*padding-left: 8px;*/
}

#main {
    font-family: Calibri, Verdana;
    font: Calibri, Verdana;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 4px 4px 4px;
}

a {
    color: #034af3;
}

th{
    text-align: left;
    
}

/* Menu Styles ------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eaeaea;
    color: rgba(0, 0, 0, 0.4);
    
}

li {
    float: left;
    border: 1px solid #555;
    border-right: 1px solid #191919;
    border-bottom: 1px solid #555;
}

    /*li:last-child {
        /*border-right: none;
        border-bottom: none;
    }*/

    li a {
        display: block;
        width: 120px;
        color: #191919;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #848484;
    }

        li a:hover {
            background-color: #83a6fa;
        }
        
table {
    border: 0.01em solid black;
    /*float: left;*/
    display: inline-block;
    margin: 0.5%;
    padding: 0%;
    /*max-width: 30%;*/
    /*max-height: 25%;
    min-height: 25%;
    min-width: 25%;*/
    /*text-size-adjust: auto;
    font-size: 100%;
    font-size-adjust: none;
    resize:both;
    flex-shrink: 1;*/
    table-layout: fixed;
    
}

table:hover {
    /*font-size: x-large;*/
    background-color: #83a6fa;        
}
    

th {
    vertical-align: top;
    white-space: nowrap;
    table-layout: fixed;
    /*text-size-adjust: auto;
    font-size: 100%;
    font-size-adjust: none;
    resize: both;
    flex-shrink: 1;*/
    /*border: 1px solid black;*/
}
  

tr {
    vertical-align: top;
    table-layout: fixed;
    /*text-size-adjust: auto;
    font-size: 100%;
    font-size-adjust: none;
    resize: both;
    flex-shrink: 1;*/
    /*border: 1px solid black;*/
}
   

td {
    vertical-align: top;
    table-layout: fixed;
    /*text-size-adjust: auto;
    font-size: 100%;
    font-size-adjust: none;
    resize: both;
    flex-shrink: 1;*/
    /*border: 1px solid black;*/
}
    


/*/* Data Styles ------------------------------*/
table.data {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    width: 100%;
}

    table.data th {
        background-color: #e8eef4;
        border: 1px solid #c3c3c3;
        padding: 3px;
    }

    table.data td {
        border: 1px solid #c3c3c3;
        padding: 3px;
    }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: left;
    right: 100%;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
    left: 100%;
    margin-left: 5px;
}